.DS_Store
Code_Slave_AlertBell/.pio/build/project.checksum
Code_Slave_AlertBell/.pio/build/nanoatmega328new/idedata.json
Code_Slave_AlertBell/.vscode/c_cpp_properties.json
Code_Slave_AlertBell/.vscode/launch.json
